<style media="screen">
  table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 30px;
    text-align: center

  }
</style>
<h1>Tasks</h1>
<h1>
  <%= button_to 'New Task', new_task_url, method: :get%>
</h1>
<table style="width:50%">
  <tr>
    <th>To Dos</th>
    <th>Completed</th>
  </tr>
  <% length = @done_tasks.length > @undone_tasks.length ? @done_tasks.length : @undone_tasks.length %>
  <% for i in 0...length %>
    <% undone = @undone_tasks[i] %>
    <% done = @done_tasks[i] %>
    <tr>
      <td>
        <% if undone %>
          <h2><%=link_to undone.title, task_url(undone)%>(<%= undone.sub_tasks.length %>)</h2><%=button_to 'Complete', complete_task_url(undone) %>
          <%= button_to 'Delete', task_url(undone), method: :delete %>
        <% end %>
      </td>
      <td>
        <% if done %>
          <h2><%=link_to done.title, task_url(done)%>(<%= done.sub_tasks.length %>)</h2><%= button_to "Undone", undone_task_url(done) %>
          <%= button_to 'Delete', task_url(done), method: :delete %>

        <% end %>
      </td>
    </tr>
  <% end %>
</table>
