<style media="screen">
.completed {
  color:red;
}
</style>

<h1><%=@task.title %></h1>
<p><%= @task.body %></p>

<%= button_to 'Edit Task', edit_task_url(@task), method: :get %>
<%= button_to 'Delete Task', task_url(@task), method: :delete %>
<%= button_to "All Tasks", tasks_url, method: :get %>
<%= button_to 'Add a new sub_task', new_task_sub_task_url(@task), method: :get %>

<ol>
  <% @sub_tasks.each do |sub_task| %>
    <% button_name = sub_task.done ? 'Undone' : 'Complete' %>
    <% action_url = sub_task.done ? undone_sub_task_url(sub_task) : complete_sub_task_url(sub_task) %>
    <li>
      <% if sub_task.done %>
        <strike><%= link_to sub_task.title, sub_task_url(sub_task)%> </strike>
      <% else %>
        <%= link_to sub_task.title, sub_task_url(sub_task)%>
      <% end %>
        <%= button_to button_name, action_url %>
    </li>
  <% end %>
</ol>
